.btn-wider {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-widder {
    padding-left: 20px;
    padding-right: 20px;
}
table .row-options {
    text-align: right;
    width: 80px;
}

.sticker {
    position: absolute;
    background: #fff;
    padding: 5px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}
.sticker:hover {
    border: 1px solid #333;
    padding: 4px;
}

.sticker .times {
    display: block;
    font-size: 10px;
    background-color: #eee;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.sticker .description {
    display: block;
    clear: both;
    background-color: #fff;
    padding-left: 2px;
}
.sticker .color-code-bar {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    font-size: 0;
    float: left;
}

.current_time {
    position: absolute;
    background-color: #FD0006;
    border: 0;
    height: 2px;
    font-size: 0;
}
.masthead {
    margin-bottom: 50px;
}
