{% extends "base.html" %}

{% block secondary_menu %}
<form class="navbar-search pull-right">
  <input type="text" class="search-query typeahead-client" data-provide="typeahead" autocomplete="off" placeholder="Pet search">
</form>
{% endblock %}

{% block content %}
<div class="row">

    {% comment %}
    <p>Start of buttons</p>
    {% endcomment %}

    <div class="span12">
        <div class="btn-group">
            <a role="button" href="#pet-add-modal" data-toggle="modal" class="btn"><i class="icon-plus-sign"></i> Add</a>
        </div>
        <hr />
    </div>



    {% comment %}
    <p>Start of list</p>
    {% endcomment %}

    <div class="span12">
        <table class="table table-striped table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Client Name</th>
                <th>&nbsp;</th>
            </tr>
            {% for pet in pets %}
            <tr>
                <td>{{pet.id}}</td>
                <td>{{pet.name}}</td>
                <td>{{pet.client.first_name}}</td>
                <td class="row-options">
                    <a role="button" class="btn btn-mini btn-wider" href="{{ pet.edit_url }}">
                        <i class="icon-edit"></i>
                    </a>
                    <a role="button" class="btn btn-mini btn-wider btn-warning" href="{{ pet.delete_url }}">
                        <i class="icon-remove-sign"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <ul>
                {% if pets.has_previous %}
                <li>
                    <a href="?page={{ pets.previous_page_number }}">&laquo;</a>
                </li>
                {% else %}
                <li class="disabled">
                    <a href="?page={{ pets.previous_page_number }}">&laquo;</a>
                </li>
                {% endif %}
                

                {% for page in pets.paginator.page_range %}
                    {% if page == pets.number %}
                    <li class="disabled">
                        <a href="?page={{ page }}">{{page}}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="?page={{ page }}">{{page}}</a>
                    </li>
                    {% endif %}
                {% endfor %}

                
                {% if pets.has_next %}
                <li>
                    <a href="?page={{ pets.next_page_number }}">&raquo;</a>
                </li>
                {% else %}
                <li class="disabled">
                    <a href="?page={{ pets.next_page_number }}">&raquo;</a>
                </li>
                {% endif %}
                
            </ul>
        </div>
    </div>
</div>
{% comment %}
<p>Start of add modal</p>
{% endcomment %}
<div id="pet-add-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AddPet" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="AddPet">Pet Add</h3>
    </div>
    <div class="modal-body">
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
</div>
{% endblock %}