{% extends "base.html" %}

{% block secondary_menu %}
<form class="navbar-search pull-right">
  <input type="text" class="search-query typeahead-client" data-provide="typeahead" autocomplete="off" placeholder="Client search">
</form>
{% endblock %}

{% block content %}

{% comment %}
<p>Start of buttons</p>
{% endcomment %}

<div class="btn-group">
    <a role="button" href="#ClientAdd" data-toggle="modal" class="btn">Add2</button>
    <a role="button" href="#ClientEdit" data-toggle="modal" class="btn disabled">Edit</a>
    <a role="button" href="#ClientDisable" data-toggle="modal" class="btn disabled">Disable</a>
</div>

{% comment %}
<p>Start of list</p>
{% endcomment %}

{% for client in clients %}
{client.first_name}
{% endfor %}

{% comment %}
<p>Start of modal</p>
{% endcomment %}
<div id="ClientAdd" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AddClient" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="AddClient">Client Add</h3>
    </div>
    <div class="modal-body">
        {% load bootstrap %}
        {{ client_form|bootstrap }}
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>
{% endblock %}