{% extends "base.html" %}

{% load slice_time %}

{% block content %}

    <div class="sticky-dock"></div>

    <div class="hidden" id="current-system-date">{% now "m/d/Y" %}</div>
    <table class="table table-bordered table-hover table-visit" id="table-visit">
        <thead>
            <tr>
                <th width="5%">Hours</th>
                {% for doctor in works_today %}
                <th id="doctor-{{doctor.profile_id}}">{{doctor.profile__user__username}}</th>
                {% endfor %}
            </tr>
        </thread>
        <tbody>
            {% for time1, time2 in sliced_time %}
            <tr>
                <td>{% if forloop.first %}<div class="hidden" id="work-start-time">{{time1|date:"Y-m-d H:i"}}</div>{% endif %}{{time1|date:"H:i"}}</td>
                {% for doctor in works_today %}
                    {% if doctor.start|date:"H:i" <= time1|date:"H:i" and doctor.end|date:"H:i" > time1|date:"H:i" %}
                    <td class="success" 
                        data-profile="{{ doctor.profile_id }}"
                        data-time="{{ time1|date:'Y-m-d H:i' }}"
                        data-time-next="{{ time2|date:'Y-m-d H:i' }}"
                        >
                        <a href="#visit-add-modal" data-toggle="modal">&nbsp;</a>
                    </td>
                    {% else %}
                    <td class="pending"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% comment %}
    <p>Start of add modal</p>
    {% endcomment %}
    <div id="visit-add-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AddVisit" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="AddVisit">Visit Add</h3>
        </div>
        <div class="modal-body">
            {% load crispy_forms_tags %}
            {% crispy visit_form %}
        </div>
    </div>

{% endblock %}