{% extends "base.html" %}

{% load slice_time %}

{% block content %}

    <div class="sticky-dock"></div>

        <div class="row">

        <div class="span5">
            <h1>{{ current_date|date:"Y-m-d, l" }}</h1>
        </div>

        <div class="span3">
            <div class="pagination pagination-center">
                <ul>
                    <li><a href="{{prev_date_url}}">&laquo;</a></li>
                    <li><a href="{{now_date_url}}">Current</a></li>
                    <li><a href="{{next_date_url}}">&raquo;</a></li>
                </ul>
            </div>
        </div>
        <div class="span4">
            <div class="pagination pagination-right">
                <ul>
                    <li><a href="/view/days">Days</a></li>
                    <li><a href="/view/weeks">Weeks</a></li>
                    <li><a href="/view/months">Months</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block calendar %}

    {% endblock %}

    {% comment %}
    <p>Start of add modal</p>
    {% endcomment %}
    <div id="visit-add-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AddVisit" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="AddVisit">Visit Add</h3>
        </div>
        <div class="modal-body">
            {% load crispy_forms_tags %}
            {% crispy visit_form %}
        </div>
    </div>

{% endblock %}