{% extends "base.html" %}

{% block secondary_menu %}
<form class="navbar-search pull-right">
  <input type="text" class="search-query" placeholder="Doctor search">
</form>
{% endblock %}

{% block content %}
<div class="btn-group">
    <a class="btn">Add</a>
    <a class="btn disabled">Edit</a>
    <a class="btn disabled">Disable</a>
</div>
<div class="content">
    <div class="doctors">
        <ul>
        {% for doctor in list %}
            <li>{{doctor.username}}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}